body {
	background-color: #272822;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

pre {
	overflow:auto; 
	overflow-y:hidden;
	white-space: pre-wrap;
}

#sidebar {
	background-color: #D90429;
	position: relative;
	float:left;
	height:100%;
	margin:10px;
	width:135px;
	border-style: solid;
	border-radius: 10px;
}

#sidebar li {
	list-style-type:none;
	position: relative;
	left: -30px;
	top:-10px;
}

#sidebar a {
	color: black;
}

.sidebartaglink {
	color:black;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebarcontent {
	margin:10px;
	overflow: hidden;
}

#rightpane {
	position: absolute;
	height:auto;
	width:100%;
	left:40px;
}

#contentcontainer {
	background-color: #C1C5CA;
	position: relative;
	height:100%;
	float:left;
	width:80%;
	margin:10px;
	border-style: solid;
	border-radius: 10px;
}

#content {
	margin:20px;
}


.date {
	color: #D90429;
	text-shadow: 
	    -0.5px -0.5px 0 #000,
    	0.5px -0.5px 0 #000,
    	-0.5px 0.5px 0 #000,
    	0.5px 0.5px 0 #000;	
}

.posttitle {
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px 1px #D90429;
}

