<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments/monokai.css">
</head>

<body>
	<div id="rightpane">
	{% include sidebar.html %}
	<div id="contentcontainer">
		<div id="content">
		<h1 class='posttitle'>Archive</h1>
		<ul>
		{% for post in site.posts %}
			<li><a class='posttitle' href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a></li>
			<hr>
		{% endfor %}
		</ul>
		</div>
	</div>
</div>
</body>
</html>