<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments/syntax.css">
</head>

<body>
	<div id="rightpane">
	{% include sidebar.html %}
	<div id="contentcontainer">
		<div id="content">
			{% for page in site.posts limit: 10 %}
				<a class='posttitle' href="{{ page.url }}"><h1>{{ page.title }}</h1></a>
				<span ><b>Posted:</b> {{ page.date | date_to_long_string }}</span>
				{% if page.updated %}
					<br><span ><b>Updated:</b> {{ page.updated | date_to_long_string }}</span>
				{% endif %}
				{% if page.tags.size > 0 %}
				<br><b>tagged:</b><span>
					{% for tag in page.tags %}
						{% if tag == page.tags.last %}
							{{ tag }}
						{% else %}
							{{ tag }},
						{% endif %}
					{% endfor %}</span>
				{% else %}
					<br><b>-no tags-</b>
				{% endif %}
				<p>{{ page.content }}</p>
				<br>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>


</body>
</html>
