<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments/syntax.css">
</head>

<body>
	<div id="rightpane">
	{% include sidebar.html %}
	<div id="contentcontainer">
		<div id="content">
			<h1 class='posttitle'>{{ page.title }}</h1>
			{% if page.updated %}
				<span ><b>Updated: {{ page.updated | date_to_long_string }}</b></span>
			{% else %}
				<span ><b>Posted: {{ page.date | date_to_long_string }}</b></span>
			{% endif %}
			{% if page.tags.size > 0 %}
			<br><b>tagged:</b><span>
				{% for tag in page.tags %}
					{% if tag == page.tags.last %}
						{{ tag }}
					{% else %}
						{{ tag }},
					{% endif %}
				{% endfor %}</span>
			{% else %}
				<br><b>-no tags-</b>
			{% endif %}
			{{content}}
		</div>
		{% if page.comments %}
		<div id="disqus_thread"></div>
			<script>
			/**
			*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

			var disqus_config = function () {
			// this.page.url = '{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
			// this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};

			// var disqus_developer = 1;
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://scooterx3.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
		{% endif %}
	</div>
</div>
<script id="dsq-count-scr" src="//scooterx3.disqus.com/count.js" async></script>
</body>
</html>