<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments/monokai.css">
</head>

<body>
	<div id="rightpane">
	{% include sidebar.html %}
	<div id="contentcontainer">
		<div id="content">
			<ul>
			{% assign tags = site.tags | sort %}
			{% for tag in tags %}
			<li class="site-tag">
				<a href="/tag/{{ tag | first | slugify }}/">
				{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
				</a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
</body>
</html>