<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}{% if page.title %} | {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/pygments/monokai.css">
	<!-- <script src="/assets/js/javascript.js"></script> -->
</head>

<body>
	<div id="rightpane">
	{% include sidebar.html %}
	<div id="contentcontainer">
		<div id="content">
		<h1 class="posttitle" >Tags</h1>
		{% assign tags = site.tags | sort %}
		{% for tag in tags %}
			<ul>
			{% assign tagname = tag | first %}
			<h2 id="tag_{{tagname}}">{{ tagname }}</h2>
			{% for post in site.posts %}
				{% if post.tags contains tagname %}
					<li><a class='posttitle' href="{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
			<hr>
		{% endfor %}
		</div>
	</div>
</div>
</body>
</html>